
/* SCRIPTS GENERALES */
.contenedor-titulo{
    width: 195px;
    height: 60px;
    flex-shrink: 0;
    background: #B8BAB8;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-helper{
    align-items: center;
}

.tipografia-titulos{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.helper-titulo{
    padding-top: 20px;
}

.contenedor-estructuracion{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-menu{
    margin-left: 40px;
}

.img-menu{
    width: 40px;
    height: 40px;
}

.contenedor-carrito{
    margin-right: 40px;
}

.img-carrito{
    width: 40px;
    height: 40px;
}

.contenedor-menu{
    display: flex;
    padding-right: 40px;
}


/* CSS PARA INDEX */
.contenedor-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 110px;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 280px;
    max-height: 300px;
}

.centro-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.centro-derecha{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.back-etiqueta{
    text-decoration: none;
    color: black;
    min-width: 100px;
    min-height: 40px;
    background-color: gray;
    margin: 10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CSS PARA LOGIN/REGISTRO */



/*DECORACIÓN ICONOS Y VECTORES*/
.boliviano{
    background-color: black;
}

.deco-iconos{
    max-width: 30px;
    min-width: 30px;
    margin-left: 16px;
}

.deco-vertical{
    width: 1px;
    height: 180px;
    background-color: black;
}

.deco-horizontal{
    width: 180px;
    height: 1px;
    background-color: black;
}


/*Decoración de contenedores de fotos */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-mini{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-clasificacion{
    display: flex;
    flex-direction: column;
    

}

.contenedor-clasificacion-short{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 22px;
}

.img-contenedor-big{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border: 0.5px solid #000;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    
}

.img-contenedor-big img{
    max-width: 100%;
}

.img-contenedor-short img{
    max-width: 100%;
}

.img-contenedor-short{

    width: 150px;
    height: 150px;
    overflow: hidden;
    flex-shrink: 0;
    border: 0.5px solid #000;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
  
.texto-contenedor-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Menú desplegable*/

.desplegable {
    position: relative;
    display: inline-block;
}

.enlace-desplegable {
    display: block;
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.contenido-desplegable a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.contenido-desplegable a:hover {
    background-color: #f9f9f9;
}

.desplegable:hover .contenido-desplegable {
    display: block;
}




/*MEDIAS*/

@media screen and (min-width: 1366px) and (min-height: 768px) {
    .contenedor-clasificacion {
      font-size: 30px;
    }

    .img-contenedor-big{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 400px;
        flex-shrink: 0;
        border: 0.5px solid #000;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .img-contenedor-short{

        width: 200px;
        height: 200px;
        overflow: hidden;
        flex-shrink: 0;
        border: 0.5px solid #000;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    }

    .container-mini{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 20px;
    }
    


  }



