
.contenedor-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 30px;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 280px;
    max-height: 300px;
}

.centro-izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.centro-derecha{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.back-etiqueta{
    text-decoration: none;
    color: black;
    min-width: 100px;
    min-height: 40px;
    background-color: gray;
    margin: 10%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*DECORACIÓN ICONOS Y VECTORES*/
.deco-iconos{
    max-width: 30px;
    min-width: 30px;
    margin-left: 16px;
}
.deco-vertical{
    width: 1px;
    height: 180px;
    background-color: black;
}
.deco-horizontal{
    width: 180px;
    height: 1px;
    background-color: black;
}